body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sketchpad {
    display: flex;
    border-style: solid;
}

.sketchpad div {
    min-height: 16px;
    min-width: 16px;
}

.black {
    background-color: black;
}